body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    background-color: #D5E1EF;
}

main {
    padding: 16px;
    background-color: #ffffff;
    border-radius: 20px;
    width: 288px;
}

main:hover{
    
    box-shadow: 1px 1px 80px 25px rgb(49, 49, 252);
    transition-duration: 2s;
}

img {
    max-width: 100%;
    border-radius: 10px;
}
img:hover{
    
    transition: transform 1s ease-in-out;
    transform: rotate(360deg);

}

h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #1F314F;
    padding: 24px 0 16px;
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1875px;
    color: #7D889E;
    padding: 0 16px 24px;
}